# Default owner for all files
* @IkonnikovQA

# CI and automation process
/.github/workflows/ @IkonnikovQA
/Jenkinsfile @IkonnikovQA
/docker-compose.yml @IkonnikovQA
/Makefile @IkonnikovQA
/scripts/ @IkonnikovQA

# Test modules
/api-tests/ @IkonnikovQA
/ui-tests/ @IkonnikovQA
/hybrid-tests/ @IkonnikovQA
/test-core/ @IkonnikovQA

# Docs
/README.md @IkonnikovQA
/RUNBOOK.md @IkonnikovQA
